{% extends 'base.html' %}


{% block title %}
  Information
{% endblock %}


{% block body %}
  <div class="container">

    <h1>CONTACTS</h1>

    <p> +7 (921) 019-57-87 Константин А.<br>
    +7 (921) 626-50-51 Денис Т.<br>
    +7 (921) 586-08-86 Алексей М.<br>
    г. Питкяранта, ул. Ленина 31А, офис 324</p>

      <h5><a href="https://moba.ru/" target="_blank">moba</a><h5>

      <h5><a href="https://www.ozon.ru/" target="_blank">OZON</a><h5>

      <h5><a href="https://vk.com/ptkservice" target="_blank">Наша группа ВКонтакте</a></h5>

    <p> <br> <br> </p>

    <img src="static/css/it.jpg" alt="" width="487" height="164">

    <p><br> </p>
    <p><br> </p>
    <p><br> </p>
    <p><br> </p>
    <p><br> </p>
    <p><br> </p>
    <p><br> </p>

    <small class="d-block mb-3 text-muted">стек Flask(Python3) + SQLAlchemy + Gunicorn<br>
    деплой на Heroku 13.06.2020</small>

  </div>


{% endblock %}


{% block footer %}
  <footer class="container pt-2 border-top">
      <small class="text-muted">© created and supported by Uarsa<img class="mb-2" src="static/css/hedr.jpg" alt="" width="24" height="24"> 2020-2021</small>
  </footer>
{% endblock %}
