<!doctype html>

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h3 class="my-0 mr-md-auto font-weight-normal">it! service center</h3>
  <nav class="my-2 my-md-0 mr-md-3">
    <!--a class="p-2 text-dark" href="/">Home</a-->
    <!--a class="p-2 text-dark" href="/user/uarsa/111">User</a-->
    <!--a class="p-2 text-dark" href="#">Support</a-->
    <a class="p-2 text-dark" href="/posts">Posts</a>
    <a class="p-2 text-dark" href="/create_article">Create</a>
    <a class="p-2 text-dark" href="/about">About</a>
  </nav>
  <!--a class="btn btn-outline-primary" href="#">Sign up</a-->
</div>
</header>

<div class ="mainbody">

    <div class="container">

    {% block body %}

    {% endblock %}
    </div>

</div>

<footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <!--img class="mb-2" src="static\hedr.jpg" alt="" width="24" height="24"-->
        <img src="static/css/hedr.jpg">
        
        <small class="d-block mb-3 text-muted">© created and supported by Uarsa 2020-2021</small>
      </div>
     
    </div>
</footer>

</body>

</html>
