{% extends 'base.html' %}

{% block title %}
CREATE ARTICLE
{% endblock %}

{% block body %}

<h1>ADD ARTICLE</h1>
  <form method="post">
      <input type="text" name="name" id="name" class="form-control"><br>
      <input type="text" name="tel" id="tel" class="form-control"><br>
      <input type="text" name="device" id="device" class="form-control"><br>
      <textarea name="description" id="description" class="form-control"></textarea><br>
      <input type="submit" class="btn btn-success" value="Enter">
  </form>

{% endblock %}