{% extends 'base.html' %}

{% block title %}
Find
{% endblock %}

{% block body %}


<h1>FIND</h1>

<p><br> </p>

<!--form method="post">
      <input type="text" name="find" id="find" class="form-control" placeholder="search for..."><br>
      <input type="submit" class="btn btn-outline-primary" value="Find">
</form-->

<form method="post">
      <nav class="navbar navbar-light">
          <form class="container-sm">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg> 
              </span>
              <input type="text" name="find" id="find" class="form-control" placeholder="пока не работает" aria-label="Search" aria-describedby="basic-addon1">
            </div>
          </form>
      </nav>
</form>      

           
<p><br> </p>
<p><br> </p>



      
        
          <p> {{ articles[0] }} </p>
          


      




{% endblock %}
© 2021 GitHub, Inc.
