{% extends 'base.html' %}

{% block title %}
  Update
{% endblock %}

{% block body %}
<div class="container">

<h1>UPDATE</h1>
  
  <form method="post">
      <input type="text" name="name" id="name" class="form-control" value="{{ article.name }}" placeholder="client name"><br>
      <input type="text" name="tel" id="tel" class="form-control" value="{{ article.tel }}" placeholder="telephone number"><br>
      <input type="text" name="type" id="type" class="form-control" placeholder="type"><br>
      <input type="text" name="device" id="device" class="form-control" value="{{ article.device }}" placeholder="device"><br>
      <textarea name="defect" id="defect" class="form-control" placeholder="defect">{{ article.defect }}</textarea><br>
      <textarea name="description" id="description" class="form-control" placeholder="description">{{ article.description }}</textarea><br>
      <input type="text" name="part_price" id="part_price" class="form-control" value="{{ article.part_price }}" placeholder="part price"><br>
      <input type="text" name="total_price" id="total_price" class="form-control" value="{{ article.total_price }}" placeholder="total price"><br>
      <input type="submit" class="btn btn-outline-primary" value="Update">
  </form>
  
</div>
{% endblock %}


{% block footer %}

{% endblock %}
