{% extends 'base.html' %}

{% block title %}
All data
{% endblock %}

{% block body %}


<h1>DATA</h1>
<!--p><small>{{ el.date.date() }}</small></p-->
<!--a href="/posts/{{ el.id }}" class="btn btn-outline-primary">Details</a-->
 


<table class="table">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Device</th>
      <th scope="col">Description</th>
      <th scope="col">Name</th>
      <th scope="col">Tel</th>
    </tr>
  </thead>
 

          
  <tbody>
           
 {% if articles|length > 0 %}
    {% for el in articles %}
   
       <tr>
          <th scope="row">1</th>
          <td>{{ el.device }}</td>
          <td>{{ el.description }}</td>
          <td>{{ el.name }}</td>
          <td>{{ el.tel }}</td>
        </tr>
   
   
  </tbody>           
     
</table>     
           
    {% endfor %}
{% else %}
    <p>No posts...</p>
{% endif %}
           






{% endblock %}

