{% extends 'base.html' %}

{% block title %}
{{ article.name }}
{% endblock %}

{% block body %}


<h1>{{ article.device }}</h1>

<div class="alert alert-info">
    
    <h4>{{ article.device }}</h4>
    <p>{{ article.description }}</p>
            
    <p><b>{{ article.name  }}</b><br>
    {{ article.tel }}</p>
            
    <p><small>{{ article.date.date() }}</small></p>
    
    
    <!--div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
    </div-->
    
    
    
    
    
    <!--h2>{{ article.name }}</h2>
    <p>{{ article.tel }}</p>
    <p>{{ article.device }}</p>
    <p>{{ article.description }}</p>
    <p><b>{{ article.date.date() }}</b></p-->
    
    <!--a href="/post/{{ article.id }}/update" class="btn btn-success">Update</a>
    <a href="/posts/{{ article.id }}/delete" class="btn btn-danger">Delete</a-->
    
    <div class="btn-group">
        <a href="/post/{{ article.id }}/update" class="btn btn-sm btn-outline-primary">Update</a>
        <a href="/posts/{{ article.id }}/delete" class="btn btn-sm btn-outline-primary">Delete</a>
    </div>
    
</div>

{% endblock %}
