{% extends 'base.html' %}

{% block title %}
{{ article.name }}
{% endblock %}

{% block body %}


<h1>{{ article.name }}</h1>

<div class="alert alert-info">
    <h2>{{ article.name }}</h2>
    <p>{{ article.tel }}</p>
    <p>{{ article.device }}</p>
    <p>{{ article.description }}</p>
    <p><b>{{ article.date.date() }}</b></p>
    <a href="/post/{{ article.id }}/update" class="btn btn-success">Update</a>
    <a href="/posts/{{ article.id }}/delete" class="btn btn-danger">Delete</a>

</div>

{% endblock %}