{% extends 'base.html' %}

{% block title %}
ALL POSTS
{% endblock %}

{% block body %}


<h1>DATA</h1>

{% if articles|length > 0 %}
    {% for el in articles %}
        <div class="alert alert-info">
            <h4>{{ el.device }}</h4>
            <p>{{ el.description }}</p>
            
            <p><b>{{ el.name  }}</b><br>
                  {{ el.tel }}</p>
            <p><small>{{ el.date.date() }}</small></p>
            <!--button class="btn btn-warning">Details</--button-->
            <a href="/posts/{{ el.id }}" class="btn btn-warning">Details</a>
        </div>
    {% endfor %}
{% else %}
    <p>No posts...</p>
{% endif %}

{% endblock %}
