{% extends 'base.html' %}


{% block title %}
  All data
{% endblock %}


{% block header %}

  <form method="post">
    <nav class="navbar navbar-light">
       
           <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg> </span>
                <input type="text" name="find" id="find" class="form-control" placeholder="search" aria-label="Search" aria-describedby="basic-addon1">
           </div>
      
    </nav>
  </form>  

{% endblock %}


{% block body %}
  <div class="container-fluid">

    <h1>DATA</h1>
   

    <table class="table table-striped table-sm">

      <thead class="table-light table-sm">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Device</th>
          <th scope="col">Description</th>
          <th scope="col">Name</th>
          <th scope="col">Tel</th>
          <th scope="col">Date</th>
          <th scope="col"><a href="/create_article" class="btn btn-outline-primary">&nbsp; Add &nbsp; item &nbsp;</a></th>
        </tr>
      </thead>

      <tbody>

    {% for el in arts %}

           <tr>

              <th scope="row">{{ el.id }}</th>
              <td>{{ el.device }}</td>
              <td>{{ el.description }}</td>
              <td>{{ el.name }}</td>
              <td>{{ el.tel }}</td>
              <td>{{ el.date.date() }}</td>
              <td>
                    <div class="btn-group">
                      <a href="/post/{{ el.id }}/update" class="btn btn-outline-primary btn-sm">Update</a>
                      <a href="/posts/{{ el.id }}/delete" class="btn btn-outline-primary btn-sm">Delete</a>
                    </div>  
              </td>

            </tr>

    {% endfor %}


      </tbody>           

    </table> 
    <p><br> </p>
    <p><br> </p>
    <p><br> </p>
    <p><br> </p>
    <p><br> </p>
    <p><br> </p>
    <p><br> </p>
    <p><br> </p>
    <p><br> </p>
    <p><br> </p>

    
  </div>
{% endblock %}
