{% extends 'base.html' %}

{% block title %}
ALL POSTS
{% endblock %}

{% block body %}


<h1>DATA</h1>

{% if articles|length > 0 %}
    {% for el in articles %}
        <div class="alert alert-info">
            <h3>{{ el.name }}</h3>
            <p><b>{{ el.device }}</b><br>
                  {{ el.description }}</p>
            <p>{{ el.tel }}</p>
            <p><h5>{{ el.date.date() }}</h5></p>
            <!--button class="btn btn-warning">Details</--button-->
            <a href="/posts/{{ el.id }}" class="btn btn-warning">Details</a>
        </div>
    {% endfor %}
{% else %}
    <p>No posts...</p>
{% endif %}

{% endblock %}
